* {
    line-height: 1.5;
    background-color: #475c6c;
    color: #f7efd2;
    font-weight: 600;
}

h1,
h2{
    color: #cd8b62;
    font-weight: 1600;
    font-size: 28px;
    text-align:left;
}

ul{
    color: #eed7a1;
}

button{
    background-color: #475c6c;
    color:#cd8b62;
    border-radius: 6px;
    border-color: #eed7a1;
}

img{
    border-radius: 8px;
    height: 400px;
}

.h2{
    size: 40;
}